@page
@using Acme.BookLibrary.Localization
@using Acme.BookLibrary.Web.Pages.Checkouts
@using Microsoft.Extensions.Localization;
@model IndexModel
@inject IStringLocalizer<BookLibraryResource> L
@section scripts
    {
    <abp-script src="/Pages/Checkouts/Index.js" />
}
<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Checkouts"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                
                <a href="/CheckoutDetails">
                    <abp-button href="/Books" id="NewBookButton"
                                text="@L["Create"].Value"
                                icon="plus"
                                button-type="Primary" />
                </a>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="CheckoutsTable"></abp-table>
    </abp-card-body>
</abp-card>